- var bodyClass;
block variables
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/medium.css')
    link(rel='stylesheet', href='/stylesheets/small.css')
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/ui-darkness/jquery-ui-1.10.4.custom.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='/javascripts/js/vendor/jquery-ui-1.10.4.custom.js')
    script(src='/javascripts/js/vendor/jquery.validate.js')
    script(src='/javascripts/js/vendor/jquery.mousewheel.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/javascripts/js/plugins.js')
    script(src='/javascripts/js/classie.js')
  body(class=bodyClass)
    block content
