extends layout
block variables
	- bodyClass = "reviews"
block content
	header
		h1
			span.xsmall-nav PDSA Request Form
		button.balance(id="open", onclick="showBalance(this.id);") MY BALANCE
		button.menu(id="showLeft")
	nav.cbp-spmenu.cbp-spmenu-vertical.cbp-spmenu-left(id="cbp-spmenu-s1")
		h3 Menu
		a(href="/home") HOME
		a(href="") MY PROFILE
		a(href="/PDSARequest") PDSA REQUESTS
		a(href="") LOGOUT
	div.container-fluid
		div.modal.fade(id="myModal" tabindex="-1" role="dialog")
			.modal-dialog.wide-modal
				.modal-content
					.modal-header
						button(type="button", class="close", data-dismiss="modal") x
						h3(id="header_title")
					.modal-body(id="modal_body")
					.modal-footer
		div.row
			div.col-md-12(role="main")
				h2 #{greeting}
				p.into You want to be the best at what you do. We all do &ndash; and that&rsquo;s why we work at Critical Mass. But it&rsquo;s a process, and we want to help. That&rsquo;s why there&rsquo;s the Professional Development program. Whether it&rsquo;s a course you want to take, reference materials to peruse, or maybe it&rsquo;s an industry event you&#x27;d like to attend - we&rsquo;ve got your back. All you have to do is let us know what you&rsquo;re thinking, why you&rsquo;re thinking it, and meet with your career developer to establish a plan to share your experience with your coworkers. It&rsquo;s really that simple.
				span.questionSpan What would you like to use your PDSA on?
			div.col-xs-6.col-md-4.col-1
				h3 An Event
				button.btn.btn-primary.pdsaTypeButton(id='conference' onclick="showModalWithInfo(this.id)") Conference
				button.pdsaTypeButton(id='workshop' onclick="showModalWithInfo(this.id)") Workshop
				button.pdsaTypeButton(id='seminar' onclick="showModalWithInfo(this.id)") Seminar
			div.col-xs-6.col-md-4.col-1
				h3 Continuing Education
				button.pdsaTypeButton(id='course' onclick="showModalWithInfo(this.id)") Course
				button.pdsaTypeButton(id='pd' onclick="showModalWithInfo(this.id)") Professional Designation
				button.pdsaTypeButton(id='pd' onclick="showModalWithInfo(this.id)") Memberships
			div.col-xs-6.col-md-4.col-1
				h3 Reference Materials
				button.pdsaTypeButton(id='book' onclick="showModalWithInfo(this.id)") Book
				button.pdsaTypeButton(id='magazine' onclick="showModalWithInfo(this.id)") Magazine Subscription
		div(role="info_profile" id="my_balance")
			h3 Your Remaining 2015 Balance:
			div.balance #{currency}#{balance}
			span.notice *Balance is estimated and may not reflect partially submitted expenses.
		script.
			$(document).ready(function(){
				$('body').on('hidden.bs.modal', '.modal', function () {
					$(this).removeData('bs.modal');
					var modalBody = document.getElementById("modal_body");
					modalBody.innerHTML = '';
				});
			});
		script.
			function showBalance(id){if (id == 'open') {$('#my_balance').css({"visibility": "visible"});var obj = document.getElementById(id);obj.id = 'closed';}else{$('#my_balance').css({"visibility": "hidden"});var obj = document.getElementById(id);obj.id = 'open';};}
		script.
			var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),body = document.body;
		script.
			showLeft.onclick = function() {classie.toggle( this, 'active' ); classie.toggle( menuLeft, 'cbp-spmenu-open' ); disableOther( 'showLeft' );};
		script.
			function disableOther( button ) {if( button !== 'showLeft' ) {classie.toggle( showLeft, 'disabled' );}};
			function showModalWithInfo(id) {
				var data = !{JSON.stringify(questionArray)};
				var lookup = [];
				var x = 0;
				var y = 0;
				console.log(id);
				while(y < 1){
					if(!data[x][id]){
						x++;
					}else{
						y = 10;
					};
				};
				for (var i = 0, len = data[x][id].length; i < len; i++) {
					var dataId = data[x][id][i]['category'];
					if (id == 'pd'){
						dataId = 'pd';
					}
				    console.log(dataId);
				    if(dataId == id){
				    	lookup.push(data[x][id][i]);
				    };
				};
				console.log(lookup);
				var header = document.getElementById("header_title");
				header.innerHTML = 'PDSA Request Form';
				var modalBody = document.getElementById("modal_body");
				modalBody.innerHTML += '<div class="formDiv">'
				modalBody.innerHTML += '<label class="question" id="question1">'+lookup[0]['question']+'</label>';
				modalBody.innerHTML += '<input type="text" name="pdsaName" required class="pdsaForm" id="input1">';
				modalBody.innerHTML += '<label class="question" id="question2">'+lookup[1]['question']+'</label>';
				modalBody.innerHTML += '<input type="text" name="pdsaLocation" required class="pdsaForm" id="input2">';
				modalBody.innerHTML += '<label class="question" id="question3">Is there a website?</label>';
				modalBody.innerHTML += '<input type="text" name="pdsaSite" required class="pdsaForm" id="input3">';
				modalBody.innerHTML += '<label class="question" id="question4" style="display: none;">When does it Occur?</label>';
				modalBody.innerHTML += '<input type="text" id="datepickerStart" name="pdsaStartDate" required class="pdsaForm date" style="display: none;" placeholder="Start">';
				modalBody.innerHTML += '<input type="text" id="datepickerEnd" name="pdsaEndDate" required class="pdsaForm date" style="display: none;" placeholder="End">';
				modalBody.innerHTML += '<label class="question" id="question5" style="display: none;">How much does it cost?</label>';
				modalBody.innerHTML += '<div class="selectWrap currency" id="currency" style="display: none;"><div class="firstHolder selected"><a class="USD" href="#"></a></div></div><input type="text" name="pdsaSite" required class="pdsaForm currency" id="input5" style="display: none;">';
				modalBody.innerHTML += '<label class="question" id="whyQuestion" style="display: none;">'+lookup[2]['question']+'</label>';
				modalBody.innerHTML += '<textarea name="pdsaWhy" id="whyInput" rows="5" cols="80" style="display: none; width: 450px;"">';
				modalBody.innerHTML += '<label class="question" id="shareQuestion" style="display: none;"">How are you going to share your experience?</label>';
				modalBody.innerHTML += '<textarea name="pdsaShare" id="shareInput" rows="5" cols="80" style="display: none; width: 450px;"">';
				modalBody.innerHTML += '<br><br><button id="pdsaFormStep1" onclick="nextPressed(this.id)" class="pdsaTypeButton next">Next</button>';
				modalBody.innerHTML += '</div>'
				$( "#datepickerStart" ).datepicker({ dateFormat: "dd M yy", minDate: 0 });
				$( "#datepickerEnd" ).datepicker({ dateFormat: "dd M yy", minDate: 0 });
				$('#myModal').modal('show');
			};
			function nextPressed(id){
				console.log(id);
				if(id == 'pdsaFormStep1'){
					document.getElementById("question1").style["display"] = "none";
					document.getElementById("question2").style["display"] = "none";
					document.getElementById("question3").style["display"] = "none";
					document.getElementById("input1").style["display"] = "none";
					document.getElementById("input2").style["display"] = "none";
					document.getElementById("input3").style["display"] = "none";
					document.getElementById("question4").style["display"] = "inline-block";
					document.getElementById("question5").style["display"] = "inline-block";
					document.getElementById("datepickerStart").style["display"] = "inline-block";
					document.getElementById("datepickerEnd").style["display"] = "inline-block";
					document.getElementById("input5").style["display"] = "inline-block";
					document.getElementById("currency").style["display"] = "inline-block";
					document.getElementById("pdsaFormStep1").id = "pdsaFormStep2";
				};
				if(id == 'pdsaFormStep2'){
					document.getElementById("question4").style["display"] = "none";
					document.getElementById("question5").style["display"] = "none";
					document.getElementById("datepickerStart").style["display"] = "none";
					document.getElementById("datepickerEnd").style["display"] = "none";
					document.getElementById("input5").style["display"] = "none";
					document.getElementById("currency").style["display"] = "none";
					document.getElementById("pdsaFormStep2").innerHTML = "Review Submission";
					document.getElementById("pdsaFormStep2").id = "pdsaFormStep3";
					document.getElementById("whyQuestion").style["display"] = "inline-block";
					document.getElementById("shareQuestion").style["display"] = "inline-block";
					document.getElementById("whyInput").style["display"] = "inline-block";
					document.getElementById("shareInput").style["display"] = "inline-block";

				};
			};